# Node
**/node_modules
**/.bun
npm-debug.log
yarn-error.log



# Build
dist
build
**/.next
out

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
*.md
!README.md

# Locks
package-lock.json
yarn.lock
**/tsconfig.tsbuildinfo
